body {
  font-family: "Roboto", sans-serif !important;
}

* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #192a56 !important;
}
.container-fluid {
  width: 100%;
}
.btn {
  border-radius: 20px !important;
  height: 40px !important;
}
h1 {
  font-weight: bold;
  font-size: 36px;
}
.navbar-nav > .nav-item {
  margin-left: 20px;
}
.heading {
  margin-top: 5rem !important;
}

.stages {
  padding: 20px;
  margin-bottom: 20px;
}
.stages:nth-child(1) {
  background-color: #0abde3;
  color: #30336b;
}
.stages:nth-child(2) {
  background-color: #c7ecee;
  color: #30336b;
}
.stages:nth-child(3) {
  background-color: #7ed6df;
  color: #30336b;
}
.stages:nth-child(4) {
  background-color: #9980fa;
  color: #30336b;
}

.hidden {
  visibility: hidden;
}
.nft-image {
  width: 60%;
}
#hero-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left !important;
}

#whitepaper {
  background-color: #192a56;
  color: #f3f3f3;
}
#whitepaper :is(h2, h4) {
  color: white !important;
}
#whitepaper button {
  background-color: #e1b12c;
  border: 1px solid #e1b12c;
}
@media screen and (max-width: 480px) {
  .nft-image {
    width: 100%;
  }
}
